
# Arduino IDE 2
*.elf
*.hex
*.bin
*.eep
*.map
*.d
*.o
*.a
*.lst
*.srec
*.sym
*.dep
*.gz
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
*.dmp
*.stackdump
*.core
*.out
*.obj
*.exe
*.dll
*.so
*.dylib
*.class
*.pyc
*.pyo
*.pyd
*.DS_Store
__pycache__/
build/
.cache/
*.log

# Visual Micro (Visual Studio 2022)
*.VC.db
*.VC.VC.opendb
*.sdf
*.suo
*.user
*.ncb
*.opensdf
*.vscode/
*.vs/
*.ipch/
*.obj/
*.exe
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
*.dmp
*.stackdump
*.core
*.out
*.tlog/
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.res
*.pch
*.aps
*.plg
*.vspscc
*.vssscc
*.vsscc
*.scc
*.cache
*.dbmdl
*.dbproj.schemaview
*.jfm
*.scc
*.vssscc
*.vspscc
*.vsscc
*.scc

# Arduino Libraries
libraries/

/.vs/LoRaReceiver_OLED_OTA
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2
/__vm/Compile.vmps.xml
/__vm/
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2/LoRaReceiver_OLED_OTA.cpp.d.vmpreproc
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2/LoRaReceiver_OLED_OTA.cpp.o
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2/.vm_sys/VMB_Core.Cache.txt
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2/.vm_sys/VMB_Project.Cache.txt
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2/.vmintelli/3f55f6af9584c1754fcc0722fb32ed88/cmd_stdout.txt
/bin/LoRaReceiver_OLED_OTA/esp32_heltec_wifi_lora_32_V2/.vmpreproc/*.*
